

:root {
    --color-n1: #12141d;
    --color-n2: #272c3f;
    --color-n3: #00936F;
    --color-n3-5: #47627c;
    --color-n4: #8e8f93;
    --color-n5: #ffffff;
}


/*ESTILOS GLOBALES*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}


/*MENU BAR*/

 
.menu-bar{
  
background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); 
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
 
  
}

.nav-link{
    font-size: 20px;
    margin: 5vh;
    color: rgb(255, 255, 255)!important;
    font-weight: 500;
    position: relative; 
}




.menu-bar .navbar-toggler{
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}



.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px; 
    background-color: #00936F; 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    
}
.nav-link.active::after {
    opacity: 1;
}
.nav-link a:hover {
    font-weight: 600; 
    
}

.nav-link:hover::after {
    opacity: 1; 
    font-weight: 600; 
}

.navbar-brand img{
    width: 200px;
    margin-top: 1px;
    margin-left: 10px;
    
}


  
  .navbar .navbar-collapse {
    text-align: center;
    
  }

.nav-link{
    transition: none;
}
  
.d-block{
    height: 800px;

  
}


 
/*carousel*/





.carousel-caption{
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
  
   
}
.d-block {
    width: 100%;
    min-height: 500px;
    max-height: 800px; 

    filter: brightness(50%);
 }
/*carousel*/



/* =======================  SECCION (servicios) ======================= */

.primera-seccion {
    padding-top: 0.1px;     /* Colapsado de márgenes verticales*/
    padding-bottom: 3rem;
    margin-top: 2rem;
}

.titulo-primera-seccion {
    width: 70%;
    text-align: center;
    font-size: 1.75rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    margin: 2rem auto;
    font-weight: bold;
   color: rgb(8, 0, 83);
}

.container-servicios {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.servicios-seccion-izq,
.servicios-seccion-der {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.service-sm-icon {
    font-size: 5rem;
}

.offer {
    width: 20%;
    padding: 0.625rem;
    margin: 0.313rem;
    text-align: center;
    border-radius: 2%;
}

.offer:hover {
    background-color: var(--color-n3);
    transition: 300ms;
    color: var(--color-n1);
}

.offer_h3 {
    font-size: 0.9rem;
    font-weight: 800;
    /* color: var(--color-n5); */
}
.offer_p {
    font-size: 0.85rem;
}

/* =======================  FIN SECCION SERVICIOS ======================= */

 /* ======================= inicio SECCION (NOSOTROS) ======================= */

 .segunda-seccion {
    padding-top: 0.1px; /* <--- Colapsado de márgenes verticales*/
    padding-bottom: 3rem;
}

.titulo-segunda-seccion {
    width: 70%;
    text-align: center;
    font-size: 1.75rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    margin: 2rem auto;
   font-weight: bold;
   color: rgb(8, 0, 83);
}

.nosotros-contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-n1);
    
}

.foto {
    max-width: 50%;
    padding: 0.625rem;
    background-color: #986a1a;
    filter: grayscale(100%);
    transition: filter 500ms ease;
   
}

.foto:hover {
    filter: grayscale(0);
}

.nosotros-contenido__carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: var(--color-n5);
    color: var(--color-n1);
    box-shadow: 0.063rem 0.063rem 0.688rem 0 #00000030;
    margin: 10px;
}

.nosotros-contenido__h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.6rem 0;
}

.nosotros-contenido__p {
    font-size: 0.9rem;
    margin: 0.2rem 0 0.6rem 0;
}

.redes-icon-au {
    padding: 0.25rem;
    
    background-color: #c5bebe;
    font-size: 1rem;
    border-radius: 3px;
}
.fa-linkedin-in{
    color:#7cafdb
}
.fa-facebook-f{
    color: #2819f1;
}
.fa-instagram{
    color: #520392;
}

.btn-wpp{
    margin-left: 95vw;
    padding: 20px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

 /* ======================= FIN  SECCION (NOSOTROS) ======================= */




/* ======================= inicio  SECCION (CONTACTO)======================= */



.titulo-quinta-seccion {
    width: 70%;
    text-align: center;
    font-size: 1.75rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    margin: 2rem auto;
    color: rgb(8, 0, 83);
    font-weight: bold;
}

.contacto-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.contacto-col-1,
.contacto-col-2 {
    width: 90%;
    max-width: 35rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
}


.contacto-col-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
}

.m-neg {
    margin: -0.5rem 0 1.5rem;
}

.contacto-redes {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin-top: 3rem;
}

.p-redes {
    display: flex;
    align-items: center;
    margin: 0 0 1.3rem;
    font-size: 1rem;
}

.p-redes > p {
    margin-left: 0.7rem;
}

.t-redes {
    margin: 1rem 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}


.contacto-icono {
    vertical-align: middle;
    width: 1.5rem;
    transition: transform 0.3s ease-out;
}

.contacto-icono:hover {
    transform: scale(1.2);
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    
}

.label-input {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.required::after {
    content: " *";
    color: var(--color-n2);
    font-weight: 800;
    font-size: 1.5rem;
}

.input {
    width: 100%;
    height: 2rem;
    font-weight: 400;
    padding: 1.5rem 1rem;
    margin-bottom: 1.5rem;
    color: var(--color-n2);
    font-size: 1.1rem;
    background-color: transparent;
    border: 0.125rem solid var(--color-n2);
    border-bottom: 0.125rem solidvar(--color-n3);
    outline: none;
    border-radius: 0.5rem;
    transition: border 0.4s ease-out;
}

.input:focus {
    
    outline: none;
    border: 0.125rem solid var(--color-n3);
}

.textarea {
    resize: none;
    font-weight: 400;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    background-color: transparent;
    border: none;
    border: 0.125rem solid var(--color-n2);
    border-radius: 0.5rem;
    transition: border 0.4s ease-out, border 0.4s ease-out;
}

.textarea:focus {
    outline: none;
    border: 0.125rem solid var(--color-n3);
}

.boton-enviar {
    font-size: 1rem;
    background-color: var(--color-n3);
    color: var(--color-n5);
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border: none;
    border: 0.125rem solid var(--color-n3);
    border-radius: 0.5rem;
    font-weight: 700;
    outline: none;
    transition: box-shadow 0.2s ease, background-color 0.3s ease,
        color 0.3s ease;
}

.boton-enviar:hover {
    border: 0.125rem solid var(--color-n3);
    background-color: var(--color-n5);
    color: var(--color-n3);
}
.boton-enviar:active {
    box-shadow: 0 0 0.6rem var(--color-n3);
}



/* ======================= FIN SECCION ======================= */

/* ======================= inicio FOOTER ======================= */

.footer {
    padding-top: 0.1px; /* <--- Colapsado de márgenes verticales*/
    padding-bottom: 3rem;
    font-size: 0.8rem;
    background: #0f0c29; 
  
}
.footer > p {
    text-align: center;
    font-size: 1rem;
    color: rgba(223, 223, 223, 0.699);
    margin: 2rem;
}

.footer-contenido {
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-col-1 > h4 {
    color: #fff;
    padding-bottom: 0.2rem;
    border-bottom: 0.0625rem solid var(--color-n3);
}

.footer-ul {
    padding: 0;
}

.footer-li {
    margin: 1rem 0;
    list-style: none;
}
.footer-li > a {
    color: var(--color-n5);
    transition: color 0.3s ease;
}
.footer-li > a:hover {
    color: var(--color-n3);
}

.footer-col-2 {
    order: 1;
    align-self: center;
}

.footer-logo {
    margin: 3rem 0;
    width: 5.5rem;
}
.footer-col-3{
    color: #fff;
}

.footer-col-3 > h4 {
    color: #fff;
    padding-bottom: 0.2rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    
}

#cont{
    color: #fff;
}

.footer-redes-contenedor {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

.footer-icono {
    color: var(--color-n3);
    font-size: 1.75rem;
    margin-right: 1.5rem;
    transition: transform 0.3s ease;
}

.footer-icono:hover {
    transform: scale(1.3);
}
.footer-redes-contenedor {
    display: flex;
    align-items: center;
}

.contenedor-contacto>h1 {
    text-align: center;
    font-size: 1.5rem;
    color: rgba(223, 223, 223, 0.699);
    margin: 2rem;
}


.footer p:hover{
    color:#ffffff;
   }

/* ======================= fin FOOTER ======================= */


/*media*/



@media only screen and (max-width:991px) {
    /* nav-collapse */

    .nav-link{
        font-size: 20px;
        margin: 8vh;
        color: rgb(255, 255, 255)!important;
        font-weight: 500;
        
    }
    .navbar-nav {
        margin-bottom: 112px;
    }

/* */

    .nosotros-contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-n1);
        
    }
    
    .foto {
        max-width: 50%;
        padding: 0.625rem;
        background-color: #986a1a;
        filter: grayscale(100%);
        transition: filter 500ms ease;
       min-height: 30vh;
       min-width: 30vw;
    }
    
    .foto:hover {
        filter: grayscale(0);
    }
    
    .nosotros-contenido__carta {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin-top: 1rem;
        padding: 0.75rem;
        background-color: var(--color-n5);
        color: var(--color-n1);
        box-shadow: 0.063rem 0.063rem 0.688rem 0 #00000030;
        margin: 10px;
    }
    
    .nosotros-contenido__h3 {
        font-size: 1.2rem;
        margin: 1rem 0 0.6rem 0;
    }
    
    .nosotros-contenido__p {
        font-size: 0.9rem;
        margin: 0.2rem 0 0.6rem 0;
    }
    /*FOOTER*/
    .footer-col-3{
        color: #fff;
    }
    .footer-redes-contenedor {
        justify-content: center;
        display: flex;
       
    }
    .footer > p {
        text-align: center;
        font-size: 1rem;
        color: rgba(223, 223, 223, 0.699);
        margin: 2rem;
    }
  
}




/*PARA VER CARROUSEL BOTTSTRAP*/

  

  /*MOBILE*/

  @media screen and (min-width: 320px) and (max-width: 600px){




    .menu-bar .navbar-toggler{
        padding-right: 5px;
        outline: none!important;
        border: none!important;
    }
      
   
    .navbar-brand img{
        width: 120px;
        margin-top: 1px;
        margin-left: 10px;
        
    }
    
    
      .navbar .navbar-collapse .nav-link {
        text-align: center;
        padding-top: 0;
        font-size: 18px;
      }

    /*CARROUSEL*/




    .d-block{
        height: 300px;
      padding-top: 55px;
      
    }
    
    
     
    /*carousel*/
    .carousel-caption{
        font-size: 20px;
    }
      .d-block{
        width: 100%;
      }

 /*SERVICES*/
 

.primera-seccion {
    padding-top: 0.1px; /* <--- Colapsado de márgenes verticales*/
    padding-bottom: 3rem;
    margin-top: 5rem;
}

.titulo-primera-seccion {
    width: 70%;
    text-align: center;
    font-size: 1.75rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    margin: 2rem auto;
    font-weight: bold;
   color: rgb(8, 0, 83);
}

.container-servicios {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.servicios-seccion-izq,
.servicios-seccion-der {
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.service-sm-icon {
    font-size: 5rem;
}

.offer {
    width: 50%;
    padding: 0.625rem;
    margin: 0.313rem;
    text-align: center;
    border-radius: 2%;
}

.offer:hover {
    background-color: rgb(241, 238, 238);
    transition: 300ms;
    color: var(--color-n1);
}

.offer_h3 {
    font-size: 0.9rem;
    font-weight: 800;
    /* color: var(--color-n5); */
}
.offer_p {
    font-size: 0.85rem;
}


.primera-seccion {
    padding-top: 0.1px; /* <--- Colapsado de márgenes verticales*/
    padding-bottom: 3rem;
    margin-top: 5rem;
}

.titulo-primera-seccion {
    width: 70%;
    text-align: center;
    font-size: 1.75rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    margin: 2rem auto;
    font-weight: bold;
   color: rgb(8, 0, 83);
}

.container-servicios {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
}

.servicios-seccion-izq,
.servicios-seccion-der {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.service-sm-icon {
    font-size: 5rem;
}

.offer {
    width: 48%;
    padding: 0.625rem;
    margin: 0.313rem;
    text-align: center;
    border-radius: 2%;
}

.offer:hover {
    background-color: rgb(241, 238, 238);
    transition: 300ms;
    color: var(--color-n1);
}

.offer_h3 {
    font-size: 0.9rem;
    font-weight: 800;
    /* color: var(--color-n5); */
}
.offer_p {
    font-size: 0.85rem;
}



 /* ======================= inicio SEGUNDA SECCION (NOSOTROS) ======================= */

 .segunda-seccion {
    padding-top: 0.1px; /* <--- Colapsado de márgenes verticales*/
    padding-bottom: 3rem;
}

.titulo-segunda-seccion {
    width: 70%;
    text-align: center;
    font-size: 1.75rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    margin: 2rem auto;
   font-weight: bold;
   color: rgb(8, 0, 83);
}

.nosotros-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-n1);
    
}

.foto {
    max-width: 80%;
    padding: 0.625rem;
    background-color: #986a1a;
    filter: grayscale(100%);
    transition: filter 500ms ease;
   
}

.foto:hover {
    filter: grayscale(0);
}

.nosotros-contenido__carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: var(--color-n5);
    color: var(--color-n1);
    box-shadow: 0.063rem 0.063rem 0.688rem 0 #00000030;
    margin: 10px;
}

.nosotros-contenido__h3 {
    font-size: 1.2rem;
    margin: 1rem 0 0.6rem 0;
}

.nosotros-contenido__p {
    font-size: 0.9rem;
    margin: 0.2rem 0 0.6rem 0;
}

.redes-icon-au {
    padding: 0.25rem;
    
    background-color: #c5bebe;
    font-size: 1rem;
    border-radius: 3px;
}
.fa-linkedin-in{
    color:#7cafdb
}
.fa-facebook-f{
    color: #2819f1;
}
.fa-instagram{
    color: #520392;
}

.btn-wpp{
    margin-left: 95vw;
    padding: 20px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 10px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}


   /*CONTACTO*/
   .titulo-quinta-seccion {
    width: 70%;
    text-align: center;
    font-size: 1.75rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    margin: 2rem auto;
    color: rgb(8, 0, 83);
    font-weight: bold;
}

.contacto-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.contacto-col-1,
.contacto-col-2 {
    width: 90%;
    max-width: 35rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
}


.contacto-col-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0;
}

.m-neg {
    margin: -0.5rem 0 1.5rem;
}


.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1rem;
    
}

.label-input {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.required::after {
    content: " *";
    color: var(--color-n2);
    font-weight: 800;
    font-size: 1.5rem;
}

.input {
    width: 100%;
    height: 1rem;
    font-weight: 300;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    color: var(--color-n2);
    font-size: 1.1rem;
    background-color: transparent;
    border: 0.125rem solid var(--color-n2);
    border-bottom: 0.125rem solidvar(--color-n3);
    outline: none;
    border-radius: 0.5rem;
    transition: border 0.4s ease-out;
}

.input:focus {
    
    outline: none;
    border: 0.125rem solid var(--color-n3);
}

.textarea {
    resize: none;
    font-weight: 400;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    color: var(--color-n3);
    font-size: 1.1rem;
    line-height: 1.6rem;
    background-color: transparent;
    border: none;
    border: 0.125rem solid var(--color-n2);
    border-radius: 0.5rem;
    transition: border 0.4s ease-out, border 0.4s ease-out;
}

.textarea:focus {
    outline: none;
    border: 0.125rem solid var(--color-n3);
}

.boton-enviar {
    font-size: 1rem;
    background-color: var(--color-n3);
    color: var(--color-n5);
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border: none;
    border: 0.125rem solid var(--color-n3);
    border-radius: 0.5rem;
    font-weight: 700;
    outline: none;
    transition: box-shadow 0.2s ease, background-color 0.3s ease,
        color 0.3s ease;
}

.boton-enviar:hover {
    border: 0.125rem solid var(--color-n3);
    background-color: var(--color-n5);
    color: var(--color-n3);
}
.boton-enviar:active {
    box-shadow: 0 0 0.6rem var(--color-n3);
}
   /*FOOTER*/

.footer {
    padding-top: 0.1px; /* <--- Colapsado de márgenes verticales*/
    padding-bottom: 3rem;
    font-size: 0.8rem;
    background: #0f0c29; 
  
}

.footer-contenido {
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.footer-col-1 > h4 {
    color: #fff;
    padding-bottom: 0.2rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    
}

.footer-ul {
    padding: 0;
}

.footer-li {
    margin: 1rem 0;
    list-style: none;
}
.footer-li > a {
    color: var(--color-n5);
    transition: color 0.3s ease;
}
.footer-li > a:hover {
    color: var(--color-n3);
}

.footer-col-2 {
    order: 1;
    align-self: center;
}

.footer-logo {
    margin: 3rem 0;
    width: 5.5rem;
}
.footer-col-3{
    color: #fff;
}
.footer-col-3 > h4 {
    color: #fff;
    padding-bottom: 0.3rem;
    border-bottom: 0.0625rem solid var(--color-n3);
    
}

#cont{
    color: #fff;
}

.footer-redes-contenedor {
    margin: 3rem 0;
    display: flex;
    justify-content: center;
}

.footer-icono {
    color: var(--color-n3);
    font-size: 1.75rem;
    margin-right: 1.5rem;
    transition: transform 0.3s ease;
}

.footer-icono:hover {
    transform: scale(1.3);
}

.footer > p {
    text-align: center;
    font-size: 1rem;
    color: rgba(223, 223, 223, 0.699);
    margin: 2rem;
}

}


@media screen and (max-width: 767px) {
    
    .carousel-caption {
      display: block !important;
      font-size: 15px;
    }
  }